[submodule "lua/extraLibs/loi"]
	path = lua/extraLibs/loi
	url = https://github.com/Team-Compliance/libraryofisaac.git
[submodule "libraryofisaac"]
	path = libraryofisaac
	url = https://github.com/BrakeDude/libraryofisaac.git
	branch = main
